.container {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    width: fit-content;
    text-align: left;
    width: 10rem;
}

.select {
    border: none;
    cursor: pointer;
    width: fit-content;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0.3rem;
    padding-right: 1rem;
    font-size: 14px;
    background-color: white;
    width: 100%;
}

.select:focus {
    outline: none;
}

.select:disabled {
    opacity: 1;
    color: rgb(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255, 0.5);
    cursor: not-allowed;
}

p {
    font-weight: 600;
    color: white;
    margin: 0;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 8rem;
    }
}