:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #213547;
  min-width: 300px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 100vh;
  background-color: #213547;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mainPokemonContainer {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
}

.pageContent {
  position: relative;
  top: 2rem;
  overflow-x: hidden;
  max-width: 1200px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .pageContent {
    top: 1.5rem;
  } 
}
