.favouriteButton {
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    color:rgba(255, 255, 255, 0.655);
    width: fit-content;
    -webkit-tap-highlight-color: transparent; /* Remove blue flash on mobile */
}
.favouriteButton:focus {
    outline: none;
}

.favouriteButton svg {
    width: 35px;
    height: 35px;
}
.favouriteButton:hover svg {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 576px) {
    .favouriteButton svg {
        width: 30px;
        height: 30px;
    }


    .favouriteButton:hover svg {
        color:rgba(255, 255, 255, 0.655);
    }
}