.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.container > button {
    width: 100%;
    padding: 0.6rem 0;
    border: none;
    cursor: pointer;
    color: #14212d;
    background-color: rgb(255, 213, 0);
    font-size: 16px;
    font-weight: 600;
}

.container > button:hover {
    background-color: rgb(255, 213, 0, 0.8);
}