.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  background-color: transparent;
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 0 0rem 2.5rem; 
}

.logo {
  width: 100px;
  height: auto;
}