.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  background-color: #213547;
  width: 100%; 
  position: fixed; 
  top: 20px;
  left: 40px;
}

.logo {
  width: 100px;
  height: auto;
}