.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.image {
  width: 100%;
  height: auto;
}

.favoriteIdContainer {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.id {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background-color: white; 
  color: #333; 
  border-radius: 50px;
  font-size: 0.9rem; 
  font-weight: bold; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.name {
  display: inline-block;
  color: #fff; 
  font-size: 2rem; 
  font-weight: bold; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

