.container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: -100px;
    
    
}

.input {
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 600;
    background-color: #f0f0f0;
    color:black;
    width: 127px;
    
    
    
}

.input:focus {
    outline: none;
}

.button {
    background-color: white;
    border: none;
}

.button:hover {
    background-color: #f0f0f0;
}

.button:focus {
    outline: none;
}